
NFT_attributes.npz
NFT_Collections.json

/NFT_Recommendation/data/*
/NFT_Airdrop/data/*

/NFT_Airdrop/krause_airdrop_app/.next/*
/NFT_Airdrop/krause_airdrop_app/node_modules/*
/NFT_Airdrop/krause_airdrop_app/styles/*
/NFT_Airdrop/krause_airdrop_app/public/*
/NFT_Airdrop/krause_airdrop_app/next-env.d.ts
/NFT_Airdrop/krause_airdrop_app/package-lock.json
/NFT_Airdrop/krause_airdrop_app/yarn.lock
/NFT_Airdrop/krause_airdrop_app/yarn-error.log
/NFT_Airdrop/krause_airdrop_app/postcss.config.js
/NFT_Airdrop/krause_airdrop_app/tailwind.config.js
/NFT_Airdrop/krause_airdrop_app/tsconfig.json

/NFT_Recommendation/recommender_demo/.next/*
/NFT_Recommendation/recommender_demo/node_modules/*
/NFT_Recommendation/recommender_demo/styles/*
/NFT_Recommendation/recommender_demo/public/*
/NFT_Recommendation/recommender_demo/next-env.d.ts
/NFT_Recommendation/recommender_demo/data_copy/*
/NFT_Recommendation/recommender_demo/package-lock.json
/NFT_Recommendation/recommender_demo/yarn.lock
/NFT_Recommendation/recommender_demo/yarn-error.log
/NFT_Recommendation/recommender_demo/postcss.config.js
/NFT_Recommendation/recommender_demo/tailwind.config.js
/NFT_Recommendation/recommender_demo/tsconfig.json
/NFT_Airdrop/recommender_demo/postcss.config.js
